Exercícios de Revisão A2
--
Professor: Renato Rocha Souza  
--

In [305]:
import itertools
import random
from collections import Counter
import re

import pymysql
import sqlite3
import getpass

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas.io.sql as psql
import string


%matplotlib inline

### Parte I - Pandas

Para o Dataframe abaixo, resolva as seguintes tarefas:

In [ ]:
pd_zoo = pd.read_csv('../Dados/zoo.csv')
pd_zoo.head()

In [ ]:
pd_zoo['aquatic'].value_counts()

In [ ]:
pd_zoo['airborne'][1]

In [ ]:
pd_zoo.loc[:2,['animal','eggs','fins']]

In [ ]:
pd_zoo.iloc[0:2,0:2]

1 - Crie uma série somente com os nomes dos animais (primeira coluna)

In [ ]:
animais=pd_zoo.animal
animais.head()

2 - Transforme os campos com as strings "True"/"False" em variáveis booleanas True/False  
Veja as dicas [aqui](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) e [aqui](https://stackoverflow.com/questions/49259580/replace-values-in-a-pandas-series-via-dictionary-efficiently)

In [ ]:
pd_zoo.hair = pd_zoo.hair.apply(lambda x:str(x))
pd_zoo.milk = pd_zoo.milk.apply(lambda x:str(x))
pd_zoo.info()

3 - Crie um novo dataframe somente com os Mamíferos

In [ ]:
df_zoo[df_zoo.type == 'mammal']

4 - Crie um gráfico com os números de patas por animais  
Veja as dicas [aqui](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.DataFrame.plot.html)

In [ ]:
pd_zoo['legs'].hist()

5 - crie uma tabela no banco alunos a partir do dataframe  
ver referência [aqui](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html)

In [ ]:
p = getpass.getpass()
conn = pymysql.connect(host='127.0.0.1', #localhost
                       port=3306, 
                       user='aluno', 
                       passwd=p, 
                       db='alunos')

In [ ]:
conn = sqlite3.connect('tabela_zoo')

In [ ]:
pd_zoo.to_sql('tabela_zoo', con=conn)
cur = conn.cursor()

In [ ]:
cur.execute('select*from tabela_zoo')
for r in cur.fetchall():
    print(r)

### Parte 2 - Shell Linux

Usando comandos do Shell, abra o arquivo ../Dados/DomCasmurroMachadoAssis.txt e resolva as seguintes tarefas:

1 - Ordene as palavras do texto nas formas abaixo:
+ ordem ascii
+ ordem alfabética
+ ordem de "rima"

In [ ]:
! cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[A-Z][a-z]' '[\012*]'| sort -n| uniq -c

In [ ]:
! cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[A-Z][a-z]' '[\012*]'| sort -n| uniq -c

In [ ]:
! cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[A-Z][a-z]' '[\012*]' | rev | sort | rev | uniq -c

2 - Quantas palavras maiúsculas distintas há no texto?

In [ ]:
! cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[A-Z]' '[\012*]' | sort -u | wc -l

In [ ]:
!cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[A-Z][a-z]' '[\012*]' | egrep '*[A-Z]' | sort | uniq -c | wc -l

3 - Quantas palavras há com apenas uma, com apenas duas, e com apenas 3 vogais?

In [ ]:
! cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[A-Z][a-z]' '[\012*]' | sort -u | grep -i '^[^aeiou]*[aeiou][^aeiou]*$'|wc -l

In [ ]:
! cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[A-Z][a-z]' '[\012*]' | sort -u | grep -i '^[^aeiou]*[aeiou][^aeiou]*[aeiou][^aeiou]*$'|wc -l

In [ ]:
! cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[A-Z][a-z]' '[\012*]' | sort -u | grep -i '^[^aeiou]*[aeiou][^aeiou]*[aeiou][^aeiou]*[aeiou][^aeiou]*$'|wc -l

4 - Qual a sequência de comandos para criar um arquivo com os bigramas e suas contagens?

In [ ]:
! cat ../Dados/DomCasmurroMachadoAssis.txt | tr -sc '[A-Z][a-z]' '[\012*]' > ../Dados/domcasmurro.words
! tail -n+2 ../Dados/domcasmurro.words > ../Dados/domcasmurro.nextwords
! paste ../Dados/domcasmurro.words ../Dados/domcasmurro.nextwords | sort | uniq -c > ../Dados/domcasmurro.bigrams
! cat ../Dados/domcasmurro.bigrams | head

### Parte 3 - Expressões Regulares

1 - Repita os exercícios 1 a 4 da parte 2 utilizando Python

In [ ]:
with open('../Dados/DomCasmurroMachadoAssis.txt', 'r', encoding='utf-8') as f:
    texto = f.read()

In [ ]:
texto.split()
palavras_dom=[]
for k in texto.split():
    k=k.strip(string.punctuation+'-*"')
    if k not in palavras_dom:
        palavras_dom.append(k)
print(palavras_dom)

In [ ]:
vogais='aeiouAEIOUãõêôâáéíóúÂÕÊÔÂÁÉÍÓÚ'
umavogal=[]
for i in palavras_dom:
    x=0
    for l in i:
        if l in vogais:
            x+=1
    if x==1:
        umavogal.append(i)
umavogalso=[]
for k in umavogal:
    if k not in umavogalso:
        umavogalso.append(k)

len(umavogalso)

### Parte 4 - Bancos de dados

In [ ]:
p = getpass.getpass()
conn = pymysql.connect(host='127.0.0.1', #localhost
                       port=3306, 
                       user='aluno', 
                       passwd=p, 
                       db='SQLExample1')
cur = conn.cursor()

In [ ]:
cur.execute('show databases;')
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('use SQLExample1;')
cur.execute('show tables;')
cur.execute('select*from account')
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('describe account;') # mostra as caracteristicas de cada informaçao na horizontal, em account tem 11 infos
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('select * from account limit 5;') # so mostra os 5 primeiros da tabela account
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('describe product;') # mostra as caracteristicas de cada informação na horizontal, note que aqui em products tem 5,
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('select * from product;') # mostra  a tabela dos produtos
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('describe product_type;') # mostra as caracteristicas de cada informação na horizontal aqui so tem 2 infos
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('select * from product_type;') # mostra a tabela dos tipos de produto
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('describe employee;') #mostra as caracteristicas de cada informação na horizontal dos empregados , aqui tem 9
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('select * from employee limit 10;') # so mostra os 10 primeiros da tabela employee
for r in cur.fetchall():
    print(r)

1 - Na tabela "account", quais os valores médio, mínimo e máximo de "avail_balance"?

In [ ]:
cur.execute('''select max(avail_balance),
               avg(avail_balance), 
               min(avail_balance) from account;''')
for r in cur.fetchall():
    print(r)

2 - Quais registros na tabela "account" estão acima da média de "avail_balance"?

In [ ]:
cur.execute('''select * from account where avail_balance > 
                (select avg(avail_balance) from account);''')
for r in cur.fetchall():
    print(r)

3 - Na tabela "account", quais as 3 datas mais recentes e as 3 datas mais antigas ("open_date")?

In [ ]:
cur.execute('''
(select open_date from account order by open_date limit 3)
UNION ALL
(select open_date from account order by open_date desc limit 3);
''')
for r in cur.fetchall():
    print(r)

4 - Para cada elemento na tabela "product", exiba o nome completo do "product_type_cd" (tabela "product_type")

In [ ]:
q = '''
SELECT p.product_cd, p.name, p.product_type_cd, p.date_offered, p.date_retired, pt.name from product AS p
INNER JOIN product_type AS pt
ON p.product_type_cd = pt.product_type_cd
;
'''

cur.execute(q)
for r in cur.fetchall():
    print(r)

5 - Quantos empregados ("employees") possuem a letra "e" em seus nomes? E quantos tem sobrenomes que terminam com "r"?

In [ ]:
q = '''SELECT * from employee where fname like '%e%';'''

cur.execute(q)
for r in cur.fetchall():
    print(r)

In [ ]:
q = '''SELECT * from employee where lname like '%r';'''

cur.execute(q)
for r in cur.fetchall():
    print(r)

6 - Quais são os títulos ("title") possíveis para os empregados ("employees")?

In [ ]:
q = '''SELECT distinct(title) from employee;'''

cur.execute(q)
for r in cur.fetchall():
    print(r)

7 - Quantos empregados ("employees") estão a exatamente dois níveis abaixo do presidente?

In [ ]:
q = '''describe employee;'''

cur.execute(q)
for r in cur.fetchall():
    print(r)

In [ ]:
q1 = '''select * from employee;'''

q2 = '''select cast(emp_id as unsigned) from employee where superior_emp_id = 1;'''

q3 = '''
    SELECT cast(emp_id as unsigned)
    from Alunos2.employee 
    WHERE superior_emp_id IN (
    select cast(emp_id as unsigned) 
    from Alunos2.employee 
    where superior_emp_id = 1)'''

cur.execute(q3)
for r in cur.fetchall():
    print(r)

8 - Na tabela "account", quais os valores médio, mínimo e máximo de "avail_balance" por tipo de 'product_cd' ?

In [ ]:
q1 = '''select * from account;'''

q2 = '''select product_cd, avg(avail_balance), min(avail_balance), max(avail_balance) 
        from account 
        group by product_cd;'''

cur.execute(q2)
for r in cur.fetchall():
    print(r)

9 - Na tabela "transaction", há quantos registros por ano ("txn_date")?

In [ ]:
cur.execute('describe transaction;')
for r in cur.fetchall():
    print(r)

In [ ]:
q1 = '''select * from transaction limit 5;'''

q2 = '''select year(txn_date), count(*) from transaction group by year(txn_date);'''

cur.execute(q2)
for r in cur.fetchall():
    print(r)

10 - Você é dono de uma loja de automóveis. Crie tabelas no banco "Alunos" para representar os carros de seu pátio, os modelos de automóveis, os clientes e as compras realizadas.

11 - Crie uma lista no Python com todos os nomes e sobrenomes em strings únicas, a partir da tabela "individual"

12 - A partir da tabela "individual", crie um dicionário no Python tendo os nomes e sobrenomes em strings únicas como chaves e os anos das datas como valores.

13 - Utilizando Python, crie um banco de dados no sqlite que guarde a seguinte estrutura, demonstrada no dataframe do Pandas:  
Use os tipos de dados mais adequados.  

Veja:  
https://sqlite.org/datatype3.html    
https://sqlite.org/autoinc.html  
https://www.tutorialspoint.com/sqlite/sqlite_update_query.htm

In [306]:
df_tf = pd.read_excel('../Dados/votesurvey.xls')
df_tf.index.name = 'id'
df_tf.head()

   Gender  Age  Salary before Stern  Expected salary Candidate
id
0    Male   27                60000           110000      Bush
1    Male   30               125000           125000      Bush
2    Male   27                50000           120000      Bush
3    Male   26                56000           100000      Bush
4    Male   27                82000           100000      Bush

In [307]:
conn = sqlite3.connect('estrutura')

In [308]:
df_tf.to_sql('estrutura', con=conn)
cur = conn.cursor()

/usr/local/lib/python3.5/dist-packages/pandas/core/generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

ValueError: Table 'estrutura' already exists.

In [ ]:
clear()

In [309]:
cur.execute("select * from estrutura;")
for r in cur.fetchall():
    print(r)

ProgrammingError: (1146, "Table 'SQLExample1.estrutura' doesn't exist")

In [ ]:
cur.execute("describe estrutura;")
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute("select * from estrutura;")

14 - Conecte ao banco SQLite "iris_database.sqlite"e responda, demonstrando os comandos SQL apropriados:  

a) Há quantas "Species" diferentes na tabela "iris"?  
b) Quantos registros totais há na tabela "iris"?  

Considerando a superfície das pétalas e sépalas como retangular, responda:  

c) Qual espécie ("Species") contém, em média, a maior área de pétalas?  
d) Qual espécie ("Species") contém, em média, a maior área total (pétalas e sépalas)?  

(Por curiosidade, as espécies de Iris contém 3 pétalas e 3 sépalas)

In [ ]:
conn = sqlite3.connect('../Dados/iris_database.sqlite')
cur = conn.cursor()

15 - Conecte ao banco Python/Dados/chinook.sqlite e responda:

a) Utilizando um comando SQL e as tabelas "invoices", "invoice_items", "customers" e "tracks", mostre quais as faixas compradas por clientes que têm o primeiro nome começando com a letra "M".  
b) Quais clientes contêm a letra "o" tanto no nome como no sobrenome?  
c) Crie um histograma de faixas ("tracks") mais compradas, usando o matplotlib.  
d) Qual o cliente ("customers") que teve gasto médio em compras ("invoices") o valor mais próximo do valor médio do total de compras de todos os clientes?  
e) Escreva um script em Python + SQL para construir um dicionário tendo os nomes dos artistas ("artists") como chaves e uma lista dos álbuns ("albuns") respectivos como valores.

In [ ]:
conn = sqlite3.connect('../Dados/chinook.sqlite')
cur = conn.cursor()