In [230]:
import random
import pandas as pd
import math

# Capítulo 1

### Questão 8

In [124]:
20 // 7

2

In [125]:
20%7

6

### Questão 9

In [69]:
def mdc(a,b):
    if a==0 or b==0:
        return "Não da pra achar o mdc de com 0"
    else:
        if a>b:
            maior=a
            menor=b
        else: 
            maior=b
            menor=a
     
    D=maior
    d=menor
    r= D%d
    if r==0:
        x=menor
    while r>0:
        D=d
        d=r
        r=D%d
        x=d
    return x

def pares(n):
    r=0
    for i in range(n):
        a=random.randint(1,10000)
        b=random.randint(1,10000)
        k=mdc(a,b)
        if k==1:
            r+=1
    return r/n

In [74]:
pares(1000)

0.612

# Capítulo 2

### Questão 11

In [106]:
def ndivisores(n):
    cont=0
    for i in range(1,n+1):
        if n%i==0:
            cont+=1
    return cont

ndiv=[]
lista=[]
for i in range(1,5000):
    ndiv.append(ndivisores(i))
    if i>1:
        if max(ndiv[0:i])>max(ndiv[0:i-1]):
            lista.append(i)
print(lista)
ndiv()

[2, 4, 6, 12, 24, 36, 48, 60, 120, 180, 240, 360, 720, 840, 1260, 1680, 2520]

In [102]:
lista=[1,2,3,4,5]

In [114]:
len(ndiv)

4999

In [115]:
ndiv[4999]

IndexError: list index out of range

In [116]:
ndivisores(4999)

2

### Questão 12

In [179]:
def Fermat(n):
    if n<2**32:
        if n%2==0:
            return print("2 é fator")
        x=int(n**(1/2))
        if n==x**2:
            return print(x,'é fator')
    
        x+=1
        y=(x**2-n)**(1/2)
        while y!=int(y) and x!=(n+1)/2:
            x+=1
            y=(x**2-n)**(1/2)
        
        if x==(n+1)/2:
            return print(int(n),'é primo')
        else:
            return print(int(x+y),'e',int(x-y),'são fatores')
    else:
        return print("O número colocado é maior que 2**32")

In [180]:
Fermat(2**32+1)

O número colocado é maior que 2**32

# Capítulo 3

### Questão 10

In [216]:
def crivo(n):
    v=[]
    for i in range(int((n-1)/2)):
        v.append(1)
    P=3
    while P**2<=n:
        if v[int((P-1)/2)-1]==0:
            P+=2
        else:
            T=P**2
            while T<=n:
                v[int((T-1)/2)-1]=0
                T+=2*P
            P+=2
    
    primos=[]
    for i in range(len(v)):
        if v[i]==1:
            primos.append(2*(i+1)+1)
    return primos

In [228]:
def polinomio(a,b,c):
    fdeene=[]
    primooun=[]
    m=abs(a*100**2+b*100+c)
    n=abs(a*0**2+b*0+c)
    if m>n:
        maior=m
        menor=n
    else: 
        maior=n
        menor=m

    for n in range(101):
        fdeene.append(a*n**2+b*n+c)
    for i in range(101):
        if (fdeene[i] in crivo(maior)) or (-fdeene[i] in crivo(maior)):
            primooun.append('Primo')
        else:
            primooun.append('Não Primo')
            
    data={'f(n)':fdeene,'Classificação':primooun}
    tabela=pd.DataFrame(data,columns=['f(n)','Classificação'])
    return tabela

### Questão 11

In [234]:
math.log(math.e)

1.0

In [251]:
def S(x):
    a0=229168.50747390
    a1=-429449.7206839
    a2=199330.41355048
    a3=28226.22049280
    a4=0
    a5=0
    a6=-34712.81875914
    a7=0
    a8=33820.10886195
    a9=-25379.82656589
    a10=8386.14942934
    a11=-1360.44512548
    a12=89.14545378
    k=x/math.log(x)*(1+(a0*math.log(math.log(x))**0+
                        a1*math.log(math.log(x))**1+
                        a2*math.log(math.log(x))**2+
                        a3*math.log(math.log(x))**3+
                        a4*math.log(math.log(x))**4+
                        a5*math.log(math.log(x))**5+
                        a6*math.log(math.log(x))**6+
                        a7*math.log(math.log(x))**7+
                        a8*math.log(math.log(x))**8+
                        a9*math.log(math.log(x))**9+
                        a10*math.log(math.log(x))**10+
                        a11*math.log(math.log(x))**11+
                        a12*math.log(math.log(x))**12)**(-1/4))
    return k
    data={'n':numeros,'Pi(n)-S(n)':pih}
    tabela=pd.DataFrame(data,columns=['n','Pi(n)-S(n)'])

In [249]:
def Pi(x):
    if x%2==0:
        x=x-1
    k=len(crivo(x))+1
    return k

In [254]:
numeros=[11,100,1000,2000,3000,4000,5000,6000,7000,8000,9000,10000]
pih=[]
for i in range(len(numeros)):
    pih.append(Pi(numeros[i])-S(numeros[i]))
    
data={'n':numeros,'Pi(n)-S(n)':pih}
tabel=pd.DataFrame(data,columns=['n','Pi(n)-S(n)'])
tabel

        n    Pi(n)-S(n)
0      11  7.715298e-07
1     100 -1.390319e-03
2    1000  1.065077e-01
3    2000 -1.108184e+00
4    3000 -1.301255e+00
5    4000 -3.188114e+00
6    5000 -2.410696e+00
7    6000 -3.874818e+00
8    7000 -1.469938e-01
9    8000 -4.611767e+00
10   9000 -4.545672e+00
11  10000 -1.156281e+00

In [244]:
S(11)

4.999999228470246

In [250]:
Pi(11)

5

In [ ]:
data={'n':numeros,'Pi1(n)':razao[0],'Pi2(n)':razao[1],'Pi1(n)/Pi2(n)':razao[2]}
tabelinha=pd.DataFrame(data,columns=['n','Pi(n)-S(n)'])
tabelinha

### Questão 12

In [257]:
def razao(x):
    if x%2==0:
        x=x-1
    pi1=[]
    pi3=[]
    for i in crivo(x):
        if i%4==1:
            pi1.append(i)
        elif i%4==3:
            pi3.append(i)
    return (len(pi1),len(pi3),len(pi1)/len(pi3))

In [270]:
razao(100)

(11, 13, 0.8461538461538461)

In [273]:
valores=list(range(100,10000+1,100))
um=[]
tres=[]
razaum=[]
for i in valores:
    um.append(razao(i)[0])
    tres.append(razao(i)[1])
    razaum.append(razao(i)[2])
    
    

data={'n':valores,'Pi1(n)':um,'Pi2(n)':tres,'Pi1(n)/Pi2(n)':razaum}
tabelinha=pd.DataFrame(data,columns=['n','Pi1(n)','Pi2(n)','Pi1(n)/Pi2(n)'])
tabelinha

        n  Pi1(n)  Pi2(n)  Pi1(n)/Pi2(n)
0     100      11      13       0.846154
1     200      21      24       0.875000
2     300      29      32       0.906250
3     400      37      40       0.925000
4     500      44      50       0.880000
5     600      51      57       0.894737
6     700      59      65       0.907692
7     800      67      71       0.943662
8     900      74      79       0.936709
9    1000      80      87       0.919540
10   1100      89      94       0.946809
11   1200      95     100       0.950000
12   1300     104     106       0.981132
13   1400     109     112       0.973214
14   1500     116     122       0.950820
15   1600     119     131       0.908397
16   1700     128     137       0.934307
17   1800     135     142       0.950704
18   1900     140     149       0.939597
19   2000     147     155       0.948387
20   2100     153     163       0.938650
21   2200     159     167       0.952096
22   2300     167     174       0.959770
23   2400     175     181       0.966851
24   2500     180     186       0.967742
25   2600     184     193       0.953368
26   2700     192     200       0.960000
27   2800     200     206       0.970874
28   2900     206     212       0.971698
29   3000     211     218       0.967890
..    ...     ...     ...            ...
70   7100     446     462       0.965368
71   7200     451     467       0.965739
72   7300     456     473       0.964059
73   7400     462     476       0.970588
74   7500     468     481       0.972973
75   7600     477     487       0.979466
76   7700     482     494       0.975709
77   7800     488     498       0.979920
78   7900     494     502       0.984064
79   8000     499     507       0.984221
80   8100     506     511       0.990215
81   8200     509     518       0.982625
82   8300     517     524       0.986641
83   8400     523     527       0.992410
84   8500     525     533       0.984991
85   8600     532     538       0.988848
86   8700     540     543       0.994475
87   8800     545     549       0.992714
88   8900     550     557       0.987433
89   9000     554     562       0.985765
90   9100     559     568       0.984155
91   9200     566     573       0.987784
92   9300     573     577       0.993068
93   9400     578     583       0.991424
94   9500     585     591       0.989848
95   9600     587     596       0.984899
96   9700     595     601       0.990017
97   9800     600     607       0.988468
98   9900     604     615       0.982114
99  10000     609     619       0.983845

[100 rows x 4 columns]

### Questão 13

In [279]:
x=10000
while razao(x)[0]<=razao(x)[1]:
    x+=1
print(x)

KeyboardInterrupt:

(2880504, 2880950, 0.9998451899547024)

# Capítulo 4

### Questão 11

In [288]:
def modulo(a,k,n):
    A,P,K=a,1,k
    while K!=0:
        if K%2==1:
            P=(A*P)%n
            K=(K-1)/2
        else:
            K=K/2
        A=A**2%n
    return P

In [290]:
modulo(13,2009,100)

73

# Capítulo 5

### Questão 16

In [296]:
def inverso(a,p):
    if a%p!=0:
        inv=a**(p-2)
        k=modulo(inv,1,p)
        return k
    else:
        return print('A divide p!')

In [298]:
inverso(17,53)

25

In [302]:
def inverso_modulo(a,b,p):
    i=inverso(a,p)
    reduz=modulo(b*i,1,p)
    return print('x é congruente à',reduz,'módulo',p)

In [303]:
inverso_modulo(17,8,53)

x é congruente à 41 módulo 53

### Questão 17

### Questão 18